<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Document</title>
</head>

<body>
    <h2>Te muestro lo que buscaste, ingrese un texto porfavor.</h2>
    <!-- el (action="/main") es a donde nos envia despues de apretar el boton submit (input type="submit") -->
    <form action="/main" method="get" class="buscador">
        <input type="text" name="primero" >
        <input type="text" name="segundo" >
        <input type="submit" value="Enviar">
    </form>
</body>

</html>