<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormularioPost</title>
</head>

<body>
    <h1>Somos el formulario para POST 👍</h1>
    <form action="/enviar" method="post">
        <input type="text" name="primer-texto">
        <input type="text" name="segundo-texto">
        <input type="submit" value="Enviar">
    </form>
</body>

</html>