<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de post</title>
</head>

<body>
    <h1>Somo la lista de POST 😎</h1>
    <ul>
        <% for (let i = 0; i < lista.length; i++) { %>
            <li><%-lista[i]%></li>
        <%}%>
    </ul>
    <h3>Envia otro!</h3>
    <a href="http://localhost:3000/enviar">Ir la pagina</a>
</body>

</html>