* {
    font-family: Helvetica;
    background-color: rgb(66, 66, 66);
    box-sizing: border-box;
}

/* - - - - - - - - - - - - - - SQUARE - - - - - - - - - - - - - -    */
.square {
    background-color: aquamarine;
    text-align: center;
    font-weight: bolder;
    width: 150px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* - - - - - - - - - - - - - - CUADRADOS - - - - - - - - - - - - - -    */
h2,
.listaDeNombres,
li {
    text-align: center;
    color: bisque;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.impar,
.par {
    padding: 10px;
}

.par {
    background-color: aqua;
}

.impar {
    background-color: blanchedalmond;
}

/* - - - - - - - - - - - - - - LISTA DE PERSONAS - - - - - - - - - - - - - -    */
.listaDeNombres {
    padding: 0;
}

.nombres {
    color: aliceblue;
}

/*  //////////////////////////////////////
    //////////ARCHIVO lista.ejs///////////
    //////////////////////////////////////*/
.buscador {
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.buscador input {
    background-color: blanchedalmond;
    margin: 10px 0px;
}

/* - - - - - - - - - - - - - - parametrizados :p - - - - - - - - - - - - - -    */
.tituloParametrizado,
.numeroParametrizado, .volver-a{
    display: flex;
    justify-content: center;
}
.volver {
    padding: 4px;
    font-weight: bolder;
    color: blanchedalmond;
    text-decoration: none;
    border: 3px solid blanchedalmond;
    border-radius: 3px;
}
