*{
    font-family: Helvetica;
    background-color: rgb(66, 66, 66);
    box-sizing: border-box;
}
/* - - - - - - - - - - - - - - SQUARE - - - - - - - - - - - - - -    */
.square{
    background-color: aquamarine;
    text-align: center;
    font-weight: bolder;
    width: 150px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* - - - - - - - - - - - - - - CUADRADOS - - - - - - - - - - - - - -    */
h2 ,.listaDeNombres{
    text-align: center;
    color: bisque;
}

.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.impar , .par{
    padding: 10px;
}
.par{
    background-color: aqua;
}
.impar{
    background-color: blanchedalmond;
}
/* - - - - - - - - - - - - - - LISTA DE PERSONAS - - - - - - - - - - - - - -    */
.listaDeNombres{
    padding: 0;
}
.nombres{
    color: aliceblue;
}